<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Page</title>
    <link rel="stylesheet" href="/views/css/analytics.css">
    <script src="/controllers/algorithms.js"></script>
    <script src="/controllers/functionalScripts.js"></script>
    
    <style>
        .LOS {
            color: rgb(0, 0, 0);
            width: 100%;
        }
        .LOS h2{
            color: #2a7fff;
            margin-bottom: 0px;
            padding: 0px;
            text-decoration-style: solid;
        }
        .LOS h4{
            margin: 0px;
        }
        .converter select {
            padding: 7px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
        }
        .converter input[type="number"] {
            padding: 7px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-top: 5px;
        }
        .converter label {
            display: block;
            margin-bottom: 5px;
        }
        .Requisition-Form {
            display: flex;
            width: 100%;
        }
        .table-section {
            flex: 1;
            padding-right: 10px;
        }
        .table-container {
            max-height: 200px;
            overflow-y: auto;
        }
        .table-container table {
            width: 100%;
            border-collapse: collapse;
        }
        .table-container th, .table-container td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .table-container th {
            background-color: #0284ac;
            color: white;
        }
        .table-container tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .table-container tbody tr:hover {
            background-color: #ddd;
        }
        .form-section {
            flex: 1;
            padding-left: 10px;
        }
        .converter button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .converter button:hover {
            background-color: #45a049;
        }
        .container {
            display: flex;
            flex-direction: column;
        }
        .part {
            flex: 1;
            padding: 10px;
        }
        .Requisition-Form {
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin: 0 auto;
            max-width: 98%;
        }
    </style>
</head>
<body>
    <%- include('sidebar.ejs') %>
  
<div class="content">
    <div class="Requisition-Form">
        <section class="table-section">
            <section class="data-container">
                <section class="data">
                    <table id="analyticsTable">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Quantity to be Bought</th>
                                <th>Unit</th>
                            </tr>
                        </thead>
                        <tbody id="analyticsTableBody">
                            <!-- Table rows will be dynamically populated here -->
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
        <section class="form-section">
            <h2 style="margin-bottom: 1px; color: #2a7fff;">Compute Materials Needed For The Day</h2>
            <section class="converter">
                <h4 style="margin: 1;">Select algorithm</h4>
                <select id="unit" onchange="toggleInputField()">
                    <option value="">Choose an algorithm</option>
                    <option value="SMA">Simple Moving Average</option>
                    <option value="KNN">KNN</option>
                    <option value="WMA">Weighted Moving Average</option>
                    <option value="SD">Seasonal Decomposition</option>
                    <option value="Holt">Holt's Linear Trend</option>
                </select>
                <div id="daysInput" style="display: none;">
                    <label for="days">Number of Days Prior:</label>
                    <input type="number" id="days" name="days" min="1" value="1">
                </div>
                <button onclick="compute()">Compute</button>
            </section>
        </section>
    </div>
    
    <div class="LOS">
        <h2>In-Demand Chemicals</h2>
        <h4 id="currentDate"></h4>
        <hr>
        <section class="data-container">
            <section class="data">
                <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Chemical</th>
                            <th>Orders</th>
                        </tr>
                    </thead>
                    <tbody id="inDemandChemicalsTableBody">
                        <!-- Table rows will be dynamically populated here -->
                    </tbody>
                </table>
                </div>
            </section>
        </section>
    </div>
</div>

<script>
    updateDateTime();
    setInterval(updateDateTime, 1000);

    function toggleInputField() {
        const selectedAlgorithm = document.getElementById("unit").value;
        document.getElementById("daysInput").style.display = selectedAlgorithm ? 'block' : 'none';
    }

    async function populateInDemandChemicalsTable() {
        try {
            const response = await fetch('/inDemandChemicals');
            const chemicalData = await response.json();

            const tableBody = document.getElementById("inDemandChemicalsTableBody");
            tableBody.innerHTML = ""; // Clear existing rows

            chemicalData.forEach(chemical => {
                const row = document.createElement("tr");
                row.innerHTML = `
                    <td>${chemical.chemical_Name.trim()}</td>
                    <td>${chemical.accumulatedorderquantity} orders</td>
                `;
                tableBody.appendChild(row);
            });
        } catch (error) {
            console.error('Error fetching chemical data:', error);
        }
    }

    async function populateAnalyticsTable() {
        const days = document.getElementById('days').value;
        const selectedAlgorithm = document.getElementById("unit").value;
        try {
            let response;
            if (selectedAlgorithm === 'SMA') {
                response = await fetch(`/compute_sma?days=${days}`);
            } else if (selectedAlgorithm === 'KNN') {
                response = await fetch(`/compute_KNN?days=${days}`);
            } else if (selectedAlgorithm === 'WMA') {
                response = await fetch(`/compute_wma?days=${days}`);
            } else if (selectedAlgorithm === 'SD') {
                response = await fetch(`/compute_SD?days=${days}`);
            } else if (selectedAlgorithm === 'Holt') {
            let alpha = 0.8; // Smoothing parameter for the level
            let beta = 0.2;  // Smoothing parameter for the trend
            response = await fetch(`/compute_holts?alpha=${alpha}&beta=${beta}&days=${days}`);
            }
            const data = await response.json();
            const tableBody = document.getElementById('analyticsTableBody');
            tableBody.innerHTML = ''; // Clear existing rows
            data.forEach(row => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                    <td>${row.name}</td>
                    <td>${row.prediction}</td>
                    <td>${row.unitMeasure}</td>
                `;
                tableBody.appendChild(tr);
            });
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }

    function compute() {
        populateAnalyticsTable();
    }

    // Initialize the page
    populateInDemandChemicalsTable();
    toggleInputField();
</script>

</body>
</html>
